.in_stock{
    color:green;
}
.out_of_stock{
    color:red;
}
.backorder{
    color:orange;
}

.notice{
    font-size: 11px;
    color: red;
}
.ai-status-message{
    color:green;
    font-weight:bold;
}