<?xml version="1.0"?>
<!--
 Copyright © 2015 Wyomind. All rights reserved.
 See LICENSE.txt for license details.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <web>
            <url>
                <use_store>1</use_store>
            </url>
        </web>
    </default>
</config>